body {
    margin: 0;
}

form {

    > label {
        margin-bottom: .5rem;
        display: block;
    }

    > select {
        padding: 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    > button {
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
    }
}

.hidden {
    display: none;
}

/* https://stackoverflow.com/questions/31217268/center-div-on-the-middle-of-screen */
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    > * {
        width: 300px;
    }
}

.status {
    margin-bottom: 1rem;
    text-align: center;
    background-color: gray;
    border-radius: .5rem;
    padding: 1rem;
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
    grid-gap: 1px;
    width: 300px;
    height: 300px;

    > .cell {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;

        &.cell-x {
            color: #5bd3ff;

            &::before {
                content: 'X';
            }
        }

        &.cell-o {
            color: #FF7F5B;

            &::before {
                content: 'O';
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}


.playing {
    background-color: lightseagreen;
}

.victory-x {
    background-color: #5bd3ff;
}

.victory-o {
    background-color: #FF7F5B;
}

.draw {
    background-color: lightslategray;
}
