body {
    margin: 0;
}

.hidden {
    display: none;
}

/* https://stackoverflow.com/questions/31217268/center-div-on-the-middle-of-screen */
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.status {
    margin-bottom: 1rem;
    text-align: center;
    background-color: gray;
    border-radius: .5rem;
    padding: 1rem;
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
    grid-gap: 1px;
    width: 300px;
    height: 300px;
}

.cell {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.cell:hover {
    cursor: pointer;
}

.cell-x {
    color: #5bd3ff;
}

.cell-x::before {
    content: 'X';
}

.cell-o {
    color: #FF7F5B;
}

.cell-o::before {
    content: 'O';
}

.playing {
    background-color: cornflowerblue;
}

.victory-x {
    background-color: darkseagreen;
}

.victory-o {
    background-color: indianred;
}

.draw {
    background-color: lightslategray;
}

select {
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.btn {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
}
